.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
    background-color: white;
}

.temperature {
    font-family: Raleway !important;
    font-size: 16px;
    font-weight: bold;
    color: black;
}